.Profile__editButton {
    width: 24px;
    height: 24px;
    margin: 15px 0 0 18px;
    background-image: url(/images/Edit\ Button.svg);
    background-color: #FFFFFF00;
    border: 0;
}

@media screen and (max-width: 760px) {
    .Profile__editButton {
        width: 18px;
        height: 18px;
        margin: 8px 0 0 10px;
    }

}