

.popup__save {
    margin: 48px 0 0 0;
    background: #000000;
    border-radius: 2px;
    padding: 14px 0 14px 0;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1040px) {
    .popup__save {
        font-size: 14px;
        line-height: 17px;
        margin: 45px 0 14px 0;
    }
}