.Profile__addButton {
    width: 150px;
    height: 50px;
    margin: 35px 0 0 auto;
    
}


@media screen and (max-width: 1040px) {
    .Profile__addButton {
        margin: 31px 0 0 0;
        width: 100%;
    }
}